data/
*.DS_Store

# Server - Backend
services/server/logs/
services/server/build/
services/server/node_modules/

# Client - Frontend
services/client/logs/
services/client/build/
services/client/node_modules/

services/client/src/styles/components/*.css.map
services/client/src/styles/components/*.css
services/client/src/styles/*.css.map
services/client/src/styles/*.css
services/client/src/styles/pages/*.css.map
services/client/src/styles/pages/*.css

# Packages
packages/protocols/node_modules/
packages/sdk/node_modules/