name: Continuous Integration

on: [push]

env:
  IMAGE_TAG: latest

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build protocols
        run: |
          cd packages/protocols
          npm install
          npm run build

      - name: Build SDK
        run: |
          cd packages/sdk
          npm install
          npm run build
      
      - name: Build Client
        run: |
          cd services/client
          npm install
          npm run build

          # Build the container image
          docker build . --file Dockerfile --tag client:$IMAGE_TAG

      - name: Build Server
        run: |
          cd services/server
          npm install
          npm run build
          docker build . --file Dockerfile --tag server:$IMAGE_TAG

      - name: Login to GitHub Docker Registry
        run: docker login docker.pkg.github.com -u ${{ github.actor }} -p ${{ secrets.PERSONAL_ACCESS_TOKEN }}

      - name: Push container images
        run: |
          docker tag client:$IMAGE_TAG docker.pkg.github.com/devops-cochabamba/learnops-erebus/client:$IMAGE_TAG
          docker tag server:$IMAGE_TAG docker.pkg.github.com/${{ github.repository }}/server:$IMAGE_TAG

          docker push docker.pkg.github.com/${{ github.repository }}/client:$IMAGE_TAG
          docker push docker.pkg.github.com/${{ github.repository }}/server:$IMAGE_TAG
